use THUVIEN
go
--
--insert data into docgia table
--
insert into docgia values ('3',N'Nguyễn Văn Gia Bảo','17520033@gm.uit.edu.vn','1/22/1999', '1/23/2017', N'Chợ Lớn', '0', '0')
insert into docgia values ('4',N'Huỳnh Trầm Bảo Chấn','17520035@gm.uit.edu.vn','1/23/2017', '6/11/2017', N'Bùi Viện', '0', '0')
insert into docgia values ('5',N'Dương Thành Đạt','17520040@gm.uit.edu.vn','3/14/1999', '3/15/2017', N'Cầu Phú Mĩ', '2', '0')
go
--
--insert data into sach table
--
insert into sach values ('1',N'Xử Lý Ngôn Ngữ Tự Nhiên',N'Giáo Trình',N'Nguyễn Tuấn Đăng', N'Đại Học Quốc Gia HCM', '5/1/2017', '1/1/2006', '16000', '1')
insert into sach values ('2',N'Đắc Nhân Tâm',N'Sách tự lực, Phi hư cấu',N'Dale Carnegie', N'Nhà Xuất Bản Tổng hợp TP.HCM', '1/1/2017', '1/1/2016', '45600', '1')
insert into sach values ('3',N'Code Dạo Kí Sự',N'Công Nghệ',N'Phạm Huy Hoàng', N'Nhà Xuất Bản Dân Trí', '9/13/2017', '1/1/2017', '159000', '1')
--
GO

INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (0 -- loaidg - int
       )


INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (1 -- loaidg - int
       )

INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (2 -- loaidg - int
       )
--

insert into cacloaisach values (N'Giáo Trình')
insert into cacloaisach values (N'Sách tự lực, Phi hư cấu')
insert into cacloaisach values (N'Công Nghệ')

INSERT INTO dbo.quydinh
        ( tienphattrasachtremoingay,
	      tuoimax ,
          tuoimin ,
          songayduocmuon ,
          sosachduocmuon ,
          kcnamxuatban
        )
VALUES  ( 1000 ,
		  50 , -- tuoimax - int
          18 , -- tuoimin - int
          14 , -- songayduocmuon - int
          3 , -- sosachduocmuon - int
          8  -- kcnamxuatban - int
        )


--insert into phieumuon values ('1','5/7/2018','3')
--insert into phieumuon values ('2','5/9/2018','3')
--insert into phieumuon values ('3','5/12/2018','3')
--GO

----
----insert data into ct_phieumuon table
----
--insert into ct_phieumuon values ('1','1')
--insert into ct_phieumuon values ('1','2')
--insert into ct_phieumuon values ('1','3')
--insert into ct_phieumuon values ('2','3')
--insert into ct_phieumuon values ('2','4')
--insert into ct_phieumuon values ('2','6')
--insert into ct_phieumuon values ('3','7')
--insert into ct_phieumuon values ('3','8')
--insert into ct_phieumuon values ('3','9')
--GO

----
----insert data into phieutra table
----
--insert into phieutra values ('1','5/8/2018','50000','3')
--insert into phieutra values ('2','5/12/2018','0','3')
--insert into phieutra values ('3','5/15/2018','0','3')
--go
----
----insert data into ct_phieutra table
----
--insert into ct_phieutra values ('1','3000','1','1')
--insert into ct_phieutra values ('1','20000','1','2')
--insert into ct_phieutra values ('1','0','1','3')
--insert into ct_phieutra values ('3','0','2','3')
--insert into ct_phieutra values ('3','0','2','4')
--insert into ct_phieutra values ('3','0','2','6')
--insert into ct_phieutra values ('3','0','2','7')
--insert into ct_phieutra values ('3','0','2','8')
--GO


-----
----SELECT s.masach, trangthai ,MAX( ngaymuon ) 
----FROM dbo.sach s , dbo.ct_phieumuon ct , dbo.phieumuon pm 
 
----WHERE s.masach=ct.masach AND s.trangthai = 1  AND ct.mapm =pm.mapm AND pm.mapm IN (
----SELECT mapm 
----FROM dbo.phieumuon pm , dbo.docgia dg 
----WHERE pm.mathe = dg.mathe  
----)

----GROUP BY s.masach, s.trangthai
